.input-area {
    display: flex;
    flex-direction: column;
}

.input-list {
    display: flex;
}

.number-input {
    height: 30px;
    width: 50px;
    text-align: center;
}

.confirm-array-button {
    width: 70px;
    text-align: center;
}

.output-title {
    color: white;
    text-align: center;
    font-size: 2.5rem
}

.output-area {
    background: black;
    height: 200px;
    padding: 10px;
}

.output-value {
    color: white;
    font-size: 2rem;
}